<!DOCTYPE html>
<html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="./styles.css" />
      <title>Mini Messageboard</title>
    </head>
    <body>
      <h1><%= title %></h1>
      <form method="POST" action="/new">
        <label for="messageUser">Name:</label>
        <input
          class="form-name"
          type="text"
          id="messageUser"
          name="messageUser"
          required
        />
        <br />
        <label for="messageText">Message:</label>
        <br />
        <textarea
          class="form-message"
          id="messageText"
          name="messageText"
          required
        ></textarea>
        <br />
        <%- include("partials/errors.ejs") %>
        <button type="submit">Submit</button>
      </form>
      <a href="/">Back to messages</a>
    </body>
  </html>
</html>
